/*
---
name: ⚠️ Exceptions
category: exceptions
sourcePath:
---

Everything that is *not* working in a component based approach will somewhen
end up as an *exception*. For example if you need to adjust stylings of a
component, based on pages rather than on conditions, then put it here.
*/
