/*!-----------------------------------------------------------------------------
   Master Stylesheet.

   Project:       Cevi Logo Admin
   Version:       1.5.0
   Contributors:  Beat Temperli v/o Zottel
   URL:           https://logo.cevi.ch
   License:       ISC
   -------------------------------------------------------------------------- */

@import "meta/index";
@import "shared/index";
@import "admin/index";
@import "exceptions/index";
