/*!-----------------------------------------------------------------------------
   Master Stylesheet.

   Project:       Cevi Logo Admin
   Version:       1.1.0
   Contributors:  Beat Temperli v/o Zottel
   URL:           https://logo.cevi.ch
   License:       ISC
   -------------------------------------------------------------------------- */

@use "meta/index";
@use "shared/index";
@use "admin/index";
@use "exceptions/index";
