/*!-----------------------------------------------------------------------------
   Master Stylesheet.

   Project:       Cevi Logo Admin
   Version:       1.5.0
   Contributors:  Beat Temperli v/o Zottel
   URL:           https://logo.cevi.ch
   License:       ISC
   -------------------------------------------------------------------------- */

@use "meta/meta";
@use "shared/shared";
@use "admin/admin";
@use "exceptions/exceptions";
