{
    "extends": [
        "stylelint-config-standard",
        "stylelint-rscss/config"
    ],
    "customSyntax": "postcss-scss",
    "rules": {
        "comment-whitespace-inside": null,
        "at-rule-no-unknown": null,
        "color-function-notation": "legacy",
        "selector-class-pattern": "^-|([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
        "annotation-no-unknown": [true, {"ignoreAnnotations": ["default"]}],
        "import-notation": "string"
    }
}
