// -----------------------------------------------------------------------------
// Base styles.
// -----------------------------------------------------------------------------

@use "../meta/variables";
@use "../meta/mixins";

:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: currentcolor;
    display: inline-block;
    text-decoration-skip: ink;
}

body {
    overflow-x: hidden;
}

.main-content {
    padding-top: variables.$base-header-height;

    &.-showmenu {
        padding-left: variables.$page-padding;
        padding-right: variables.$page-padding;
        padding-top: variables.$base-header-height + variables.$page-padding;
        width: 100%;

        @include mixins.mq-min("large") {
            width: 80%;
            padding-left: calc((100% / 3) + #{variables.$page-padding + 6px});
        }
    }

    &.-raw {
        padding-top: 0;
    }
}
