// -----------------------------------------------------------------------------
// Some helpers.
// -----------------------------------------------------------------------------
// stylelint-disable
.margin-top-0 {
    margin-top: 0 !important;
}

.margin-top {
    margin-top: $base-horizontal-margin !important;
}

.margin-top-2 {
    margin-top: $base-horizontal-margin * 2 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-05 {
    margin-bottom: $base-horizontal-margin / 2 !important;
}

.margin-bottom {
    margin-bottom: $base-horizontal-margin !important;
}

.margin-bottom-2 {
    margin-bottom: $base-horizontal-margin * 2 !important;
}

.margin-bottom-3 {
    margin-bottom: $base-horizontal-margin * 3 !important;
}

.margin-bottom-4 {
    margin-bottom: $base-horizontal-margin * 4 !important;
}

._display-inline-block {
    display: inline-block;
}

.clear-fix {
    clear: both;
}
