/*
---
name: Forms
tag:
  - components
  - form
  - form-wrapper
category:
  - components
  - components/form
sourcePath: /components/_form-wrapper.scss
---

```html
<div class="form-wrapper">
    <input type="text" value="lorem ipsum" />
    <input type="text" value="" />
    <textarea>Add a text here</textarea>
    <input type="submit" value="Abschicken" />
</div>
```

*/
$border-width: 5px;
$padding-horizontal: 10px;
$padding-vertical: 10px;

.form-wrapper {
    width: 100%;
    max-width: 70ch;

    // stylelint-disable-next-line rscss/no-descendant-combinator
    legend,
    label { // stylelint-disable-line rscss/no-descendant-combinator
        @include headline;

        margin-bottom: $base-horizontal-margin / 4;
        display: block;
        font-size: $base-font-size-small;

        &.-radio {
            @include paragraph;

            margin: $base-horizontal-margin / 2 0;
            line-height: 18px;
        }
    }

    select { // stylelint-disable-line rscss/no-descendant-combinator
        -webkit-appearance: none;
        background: transparent;
        border-radius: 0;
        line-height: 24px;
    }

    // stylelint-disable-next-line rscss/no-descendant-combinator
    input,
    textarea,
    select { // stylelint-disable-line rscss/no-descendant-combinator
        width: 100%;
        border: $border-width solid $color-active;
        padding: ($padding-horizontal + $border-width) ($padding-vertical + $border-width);
        transition: padding $base-transition-speed linear, border $base-transition-speed linear;
        margin-bottom: $base-horizontal-margin;

        &:active,
        &:focus {
            border-color: $color-primary;
            border-width: $border-width * 2;
            padding: $padding-horizontal $padding-vertical;
            outline: none;
        }
    }

    input[type="radio"] { // stylelint-disable-line rscss/no-descendant-combinator
        width: 40px;
        float: left;
        border: 0;
        margin: 0;

        &:checked + label {
            font-weight: bold;
        }
    }
}
