// Form Wrapper
//
// Markup:
// <div class="form-wrapper">
//    <input type="text" value="lorem ipsum" />
//    <input type="text" value="" />
//    <textarea>Add a text here</textarea>
//    <input type="submit" value="Abschicken" />
//  </div>
//
// Style guide: components.form-wrapper

@use "../meta/variables";
@use "../meta/mixins";

$border-width: 5px;
$padding-horizontal: 10px;
$padding-vertical: 10px;

.form-wrapper {
    width: 100%;
    max-width: 70ch;

    // stylelint-disable-next-line rscss/no-descendant-combinator
    legend,
    label { // stylelint-disable-line rscss/no-descendant-combinator
        @include mixins.headline;

        margin-bottom: variables.$base-horizontal-margin / 4;
        display: block;
        font-size: variables.$base-font-size-small;

        &.-radio {
            @include mixins.paragraph;

            margin: variables.$base-horizontal-margin / 2 0;
            line-height: 18px;
        }
    }

    select { // stylelint-disable-line rscss/no-descendant-combinator
        background: transparent;
        border-radius: 0;
        line-height: 24px;
    }

    // stylelint-disable-next-line rscss/no-descendant-combinator
    input,
    textarea,
    select { // stylelint-disable-line rscss/no-descendant-combinator
        width: 100%;
        border: $border-width solid variables.$color-active;
        padding: ($padding-horizontal + $border-width) ($padding-vertical + $border-width);
        transition: padding variables.$base-transition-speed linear, border variables.$base-transition-speed linear;
        margin-bottom: variables.$base-horizontal-margin;

        &:active,
        &:focus {
            border-color: variables.$color-primary;
            border-width: $border-width * 2;
            padding: $padding-horizontal $padding-vertical;
            outline: none;
        }
    }

    input[type="radio"] { // stylelint-disable-line rscss/no-descendant-combinator
        width: 40px;
        float: left;
        border: 0;
        margin: 0;

        &:checked + label {
            font-weight: bold;
        }
    }
}
