// Header Bar
//
// Markup:
// <div class="header-bar" style="position: relative">
//
//  </div>
//
// Style guide: components.header-bar

@use "../meta/variables";
@use "../meta/mixins";

.header-bar {
    position: fixed;
    height: variables.$base-header-height;
    background: variables.$color-primary;
    width: 100vw;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .logowrapper {
        flex-grow: 100;
        margin-right: 25px;
        margin-left: 10px;
        max-height: 40px;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        > .logo {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            > .image {
                display: none;
                max-height: 40px;
                max-width: 100%;
                height: auto;
                width: auto;

                &.-short {
                    display: block;
                }

                @include mixins.mq-min("large") {
                    display: block;

                    &.-short {
                        display: none;
                    }
                }
            }
        }
    }
}
