@use "../meta/variables";

.ie-blocker {
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    background-color: variables.$color-active;
    color: variables.$color-active-contrast;
    display: none;

    > .content {
        margin: 80px 40px;

        > p > a {
            color: variables.$color-active-contrast;
        }
    }
}

// stylelint-disable
.no-flexbox,
.flexboxtweener {
    .ie-blocker {
        display: block;
    }
}
