/*
---
name: IE Blocker
tag:
  - IE
category:
  - IE
sourcePath: /components/_ie-blocker.scss
---

```html
```

*/
.ie-blocker {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    background-color: $color-active;
    color: $color-active-contrast;
    display: none;

    > .content {
        margin: 80px 40px;

        > p > a {
            color: $color-active-contrast;
        }
    }
}

// stylelint-disable
.no-flexbox,
.flexboxtweener {
    .ie-blocker {
        display: block;
    }
}
