// move to variables.scss

/*
---
name: Colors
tag:
  - meta
  - colors
category:
  - meta
  - meta/colors
template: colors
sourcePath: /meta/_colors.scss
colors:
  black: "#{$color-black}"
  white: "#{$color-white}"
  crimson: "#{$color-crimson}"
  chambray: "#{$color-chambray}"
---

The following colors are the defined project colors.

📢 Remember:

- Do *not* create new ones, try to use them and *adjust* them via color
manipulating functions.<sup>[1]</sup><sup>[2]</sup> This will be useful regarding theming.
- *Always* use colors [names](http://chir.ag/projects/name-that-color) wherever you can.<sup>[3]</sup>

[1]: https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
[2]: http://jackiebalzer.com/color
[3]: https://davidwalsh.name/sass-color-variables-dont-suck

*/
