/*
---
name: Meta
category: meta
sourcePath:
---

The meta folder/category holds files which only have functions, mixins,
variables and other definitions which do *not* compile to CSS.
*/
// @see https://necolas.github.io/normalize.css/
@import "node_modules/normalize.css/normalize";

// The meta-files
// -----------------------------------------------------------------------------
@import "functions";
@import "base";
@import "breakpoints";
@import "colors";
@import "z";

// @see http://include-media.com/
@import "node_modules/include-media/dist/include-media";

// @see http://fontawesome.io/
@import "node_modules/font-awesome/scss/font-awesome";

// The meta-files with dependencies to the ones above.
// -----------------------------------------------------------------------------
@import "mixins";
@import "placeholders";
